body {
    font-family: 'Roboto', sans-serif;
}
.nav{
    height: 50px;
    width: 1200px;
    background-color: rgb(107, 105, 105);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    margin-left: 10px;
}
.nav-links{
    width: 50%;
    display:flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}
.nav-links a{
    color: white;
    text-decoration: none;
}
.btn{
    height: 30px;
    width: 90px;
    background-color: aqua;
    color: white;
    border-color: black;
    font-size: 16px;
    box-shadow: 5px 5px black;
}
